<!--
    Title: ALL FAVORITES PAGE 
    Description: Displays a list of all product that were favorited by the user
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>My Favorites</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/products.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />


    <!-- Scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <header>
        <!-- Including Header Partial -->
        <%- include('partials/_header') %>
    </header>      
    <main>
        <!-- Main Heading -->
        <h1>My Favorites</h1>

        <section>
            <!-- Check if there are any favorites -->
            <% if(favorites.length > 0) { %>
                <!-- Loop through each product in the favorites list -->
                <% favorites.forEach(product => { %>
                    <div class="product">
                        <!-- Display product image -->
                        <img src="<%= product.photo_url %>" alt="Product Image of <%= product.title %>">
                        
                        <!-- Display product details -->
                        <h2><%= product.title %></h2>
                        <p><strong>Model:</strong> <%= product.model %></p>
                        <p><strong>Description:</strong> <%= product.description %></p>
                        <p><strong>Size:</strong> <%= product.size %></p>
                        <p><strong>Color:</strong> <%= product.color %></p>
                        <p><strong>Price:</strong> $<%= product.price %></p>
                        <p><%= product.id %></p>

                        <!-- Delete button -->
                            <form method="POST" action="/favorites/<%= product.id %>/delete">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                <% }) %>
            <% } else { %>
                <!-- Display a message if there are no favorites -->
                <p>No products have been added to favorites yet.</p>
            <% } %>
            
        </section>
    </main>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
