<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Information -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>My Messages</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
    <link rel="stylesheet" href="/vendor/border-box.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/messages.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />


    <!-- Scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <!-- Header Section -->
    <header>
        <!-- Including Header Partial -->
        <%- include('partials/_header') %>
    </header>

    <!-- Main Content Section -->
    <main>
        <div class="container">
            <!-- Main Title -->
            <h1 class="text-center">My Messages</h1>

            <!-- Display Messages for yser if he is sender or receiver -->
            <section>
                <ul>
                    <% messages.forEach(message=> { %>
                        <% if (message.sender_id===user.id || message.receiver_id===user.id) { %>
                            <li>
                                <div class="row featurette custom-gap mb-3 mt-3">
                                    <div class="order-md-1">
                                        <img src="<%= message.product_photo %>" alt="" width="100px">
                                    </div>
                                    <div class="col-md-7 order-md-2">
                                        <strong>Product:</strong>
                                        <%= message.product_title %>
                                            <br>
                                            <strong>From:</strong>
                                            <%= message.sender_name %>
                                                <br>
                                                <strong>To:</strong>
                                                <%= message.receiver_name %>
                                                    <br>
                                                    <strong>Message:</strong>
                                                    <%= message.message %>
                                                        <br>
                                                        <small><strong>Date Sent:</strong>
                                                            <%= message.date_sent %>
                                                        </small>

                            </li>
                            <% } %>

                                <% }); %>

        </div>
        </ul>
        </section>


        <!-- Messaging Form
        <section>
            <form action="/send-message" method="POST">
                <div>
                    <label for="message">Message:</label>
                    <textarea name="message" required></textarea>
                </div>
                <div>
                    <button class="btn-card btn btn-primary" type="submit">Send Message</button>
                </div>
            </form>
        </section> -->
        </div>
    </main>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>