<!--
    Title: ALL PRODUCTS DETAIL PAGE 
    Description: Displays a list of all product details  
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/products.css">

    <!-- Font Awesome library for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- JavaScript -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('partials/_header') %>
    </header>

    <!-- Product Details -->
    <div class="product-details">
        <h2><%= productDetail.title %></h2>
        <img src="<%= productDetail.photo_url %>" alt="Image of <%= productDetail.title %>">
        <p>Model: <%= productDetail.model %></p>
        <p>Description: <%= productDetail.description %></p>
        <p>Size: <%= productDetail.size %></p>
        <p>Color: <%= productDetail.color %></p>
        <p>Price: $<%= productDetail.price %></p>
    </div>

    <% if (user && productDetail.owner_id !== user.id) { %>
    <div>
        <!-- Favorite icon -->
        <form action="/favorites" method="POST">
            <input type="hidden" name="id" value="<%= productDetail.id %>"> 
            <div class="item">
                <button type="submit">❤️</button> 
              </div>
          </form>
          
        <!-- Message form -->
        <form action="/send-message" method="POST">
            <input type="hidden" name="receiver_id" value="<%= productDetail.owner_id %>">
            <input type="hidden" name="product_id" value="<%= productDetail.id %>">        
            <input type="text" name="message" placeholder="Type your message here...">
            <button type="submit">Send message</button>
        </form>
    </div>
    <%  } %>
</body>

</html>
